
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (max-width: 600px) {
    .terminal-body {
        padding: 10px;
    }
    #typedtext {
        font-size: 50px;
    }
    .contact-me a {
        font-size: 1.5em;
    }
}

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    background-color: #282c34;
    color: #fff;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Container to center content */
.container {
    width: 100%;
    max-width: 600px;
    padding: 20px;
}

/* Terminal */
.terminal {
    background-color: #1e1e1e;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 100%;
    margin-bottom: 20px;
}

.terminal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #333;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.buttons {
    display: flex;
}

.buttons span {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 8px;
    border-radius: 50%;
}

.red {
    background-color: #ff5f56;
}

.yellow {
    background-color: #ffbd2e;
}

.green {
    background-color: #27c93f;
}

.title {
    flex-grow: 1;
    text-align: center;
    color: #fff;
    font-weight: bold;
}

.terminal-body {
    padding: 20px;
    overflow-x: auto;
}

#typedtext {
    white-space: pre-wrap;
    font-size: 1.2em;
}

.cursor {
    display: inline-block;
    width: 10px;
    background-color: #fff;
    margin-left: 2px;
    animation: blink 1s step-start infinite;
}

@keyframes blink {
    50% {
        background-color: transparent;
    }
}

a {
    color: #fff;
    text-decoration: none;
    position: relative;
}

a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    display: block;
    margin-top: 2px;
    right: 0;
    background: #27c93f;
    transition: width .3s ease, background-color .3s ease;
}

a:hover::after {
    width: 100%;
    left: 0;
    background: #1a8f2b;
}

.highlight {
    background-color: #fff;
    color: #000;
    padding: 2px 4px;
    border-radius: 3px;
    margin-bottom: 10px;
}

.highlight-link {
  display: inline-block;
  background-color: #1a8f2b;
  color: #fff;
  padding: 0px 2px;
  border-radius: 5px;
  text-align: center;
  font-size: 1em;
  margin-top: 0px;
  transition: background-color 0.3s ease;
}

.highlight-link:hover {
  background-color: #145a23;
}

footer {
    color: #aaa;
    font-size: 0.8em;
    margin-top: 20px;
}

.contact-me {
    text-align: center;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease, transform 0.8s ease;
    margin-top: 20px;
}

.contact-me.show {
    opacity: 1;
    transform: translateY(0);
}

.contact-me h2 {
    margin-bottom: 10px;
}

.contact-me p {
    margin-bottom: 20px;
}

.contact-me a {
    font-size: 2em;
    margin-top: 10px;
}
